.complete {
  text-decoration: line-through;
}
.table td,
.table th {
  min-width: 105px;
  max-width: 300px;
  vertical-align: middle;
}
.complete {
  text-decoration: line-through;
}
#todo-list-table th {
  text-align: center;
}
.center-col {
  text-align: center;
  vertical-align: top;
}
