<a ui-sref="todo-list"><i class="bi bi-arrow-left"></i> Back to Todo list</a>
<h3 style="text-align:center">Todo detail page</h3>
<table class="table">
  <thead>
    <tr>
      <td><strong>Id</strong></td>
      <td>{{todo.id}}</td>
    </tr>
    <tr>
      <td><strong>Title</strong></td>
      <td>{{todo.title}}</td>
    </tr>
    <tr>
      <td><strong>Description</strong></td>
      <td>{{todo.discription}}</td>
    </tr>
    <tr>
      <td><strong>Due Day</strong></td>
      <td>{{todo.dueDate | date:"fullDate"}}</td>
    </tr>
    <tr>
      <td><strong>Status</strong></td>
      <td>{{todo.isCompleted | statusFilter}}</td>
    </tr>
    <tr>
      <td><strong>Date create</strong></td>
      <td>{{todo.createdAt | date:"fullDate"}}</td>
    </tr>
  </thead>

  </tbody>
</table>